*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menu-back-color: #01276ef1;
}

body {
    background: #282C34;
    position: relative;
    display: flex;
    flex-direction: column;
}


.container {
    position: relative; /* Position elements within this container */
    background-image: url(../../src_images/binary-code-zero-one-matrix-green-background-vector.png);
    background-size: cover;
    background-repeat: no-repeat;

    justify-content: center;
}

.container .menu-sect {
    position: relative;
    display: flex;
    flex-direction: column;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 20px auto;
    padding: 20px;
    width: 95%;

    border-radius: 10px;
    color: beige;
    background: #563e75;

    font-size: 14pt;
    text-shadow: 0 5px 10px #000;
    -webkit-text-stroke: 1px black;
    line-height: 1.8em;
    letter-spacing: 0.08em;
}

.content {
    position: relative;
    display: flex;

    padding-left: 50px;
    margin: 10px auto;

    background: var(--menu-back-color);
    border-radius: 10px;

    height: 750px;
    width: 1400px;
    align-items: center;

    font-size: 15pt;
    line-height: 30pt;
    letter-spacing: 0.07em;
}

.content a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.content ul a:hover{
    background-color: rgb(86, 86, 236);
    border: #fff solid 0.01em;
}

.content ul li:hover{
    color: rgb(52, 245, 52);
    list-style-type: disc;
}

.content ul {
    list-style-type: circle;
    color: #fff;
}

.content .back-img{
    display: flex;
    flex-direction: column;

    background-image: url(../../src_images/Python-logo-notext.png);
    background-size: 700px; /* Adjust to cover the entire background */
    /* background-position: center; Center the background image */
    /* background-position: top 0px left 10px; */
    height: 75vh; /* Set the height of the container (viewport height) */
    width: 87vh;

    background-position: 80px 20px; /* Position elements within this container */
    background-repeat: no-repeat;
}

.content .py-menu {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 500px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px;
    width: 100%;

    margin-top: 35px;

    background: #4f0da5;
    color: silver;

    text-shadow: 0 5px 10px #000;
}
